.griddle {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}

.griddle-container{
  border:1px solid #DDD;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.griddle .top-section{
  clear:both;
  display:table;
  width:100%;
  margin: 30px 20px 20px 20px;
}

.griddle .griddle-filter{
  float:left;
  width:50%;
  text-align:left;
  color:#222;
  min-height:1px;
}

.griddle .griddle-filter input{
  -webkit-appearance: none;
  border: 0;
  border-bottom: 1px solid #DDD;
  outline: none;
  font-weight: lighter;
  color: rgb(34, 34, 34);
}

.griddle .griddle-settings-toggle{
  float:left;
  width:50%;
  text-align:right;
}

.griddle .griddle-settings{
  background-color:#FFF;
  border:1px solid #DDD;
  color:#222;
  padding:10px;
  margin-bottom:10px;
}

.griddle .griddle-settings .griddle-columns{
  clear:both;
  display:table;
  width:100%;
  border-bottom:1px solid #EDEDED;
  margin-bottom:10px;
}

.griddle .griddle-settings .griddle-column-selection{
  float:left;
  width:20%;
}
.griddle table{
  width:100%;table-layout:fixed;
}

.griddle th{
  border:0px;
  border-bottom:1px solid #DDD;
  color:#222;
  padding:16px;
  cursor: pointer;
  text-align: left;
}

.griddle tr.standard-row:hover{
  background-color: rgb(238,238,238);
}

.griddle td{
  padding:16px;
  border-top: 1px solid #DDD;
  color:#222;
}

.griddle .footer-container{
  padding:16px;
  border:0px;
  border-top: 1px solid #DDD;
  color:#222;
}

.griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next{
  float:left;
  width:33%;
  min-height:1px;
  margin-top:5px;
}

.griddle .griddle-footer button {
  -webkit-appearance: none;
  background-color: #FFF;
  border: 0;
  outline: 0;
  color: #222;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
  padding: 0px 16px;
  line-height: 36px;
}

.griddle .griddle-footer button:hover {
  background-color: rgba(0, 0, 0, 0.0784314);
}

.griddle .griddle-footer button:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.griddle .griddle-page{
  text-align:center;
}

.griddle .griddle-page select {
  -webkit-appearance: none;
  border: 0;
  background-color: #FFF;
  outline: 0;
  text-decoration: underline;
  cursor: pointer;
}

.griddle .griddle-next{
  text-align:right;
}

.griddle .single-column{
    width: 50px;
}
.griddle .double-column{
    width: 100px;
}

.griddle .link-column{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
